---
---
<header class="md:bg-black sm:flex justify-top md:pt-32 flex-col text-center min-h-full w-full md:w-16">
  <h1 class="md:sticky top-[130px] -rotate-90 m-0 py-8 font-brand whitespace-nowrap text-3xl md:text-2xl leading-none">
    <a href="/" class="block no-underline md:text-white text-frame">Lauren Cerand</a>
  </h1>
</header>